body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 80vh;
    margin-top: 30px;
}

.todo-container{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1{
    text-align: center;
    color: #333;
}

#To-do input{
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#add-btn{
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#add-btn:hover{
   background: #218838;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
}
li button{
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 4px;
    background: #dc3545;
}
li button:hover{
    background: #c82333;
}